img.size {
    display: flex;
    position: relative;
    width: 50%;
    height: auto;
}


section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form{
    label{
        margin: 5px;
        text-decoration: underline;
        
    }
    input{
        margin:2px;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg-gral{
    background-color: #e37482;
    background-image: linear-gradient(90deg, #e37482 0%, #FF6A88 55%, #ff99a6 100%);
}

.styleInput {
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    margin: 10px 0px 10px 0px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.styleBtn {
    border-radius: 10px;
    background-image: linear-gradient(90deg, #e37482 0%, #ff99a6 100%);
    margin: 10px 0px 10px 0px;
    box-shadow: 2px 2px 5px black;
}

.box-style {
    margin-left: 20%;
    margin-right: 20%;
    height: 100%;
    background-image: linear-gradient(180deg, #f39fa8 0%, #ff99a6 100%);
    border-radius: 30px;
    box-shadow: 2px 2px 5px black;
}